.articles_container {
  display: flex;
  flex-flow: row wrap;
  height: 95vh;
  -ms-overflow-style: none;
  overflow: auto;
}
.articles_container::-webkit-scrollbar {
  display: none;
}

// single Article

.favorite_count_container {
  position: absolute;
  top: -0.3rem;
  right: 0.5rem;
  color: #46989a;
}
.favorite_count {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  position: relative;
}
.count {
  font-size: 0.75rem;
  font-weight: 600;
  right: 0;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}
.article_container {
  border-radius: 0.3rem;
  width: 30.8%;
  height: fit-content;
  overflow: hidden;
  margin: 0.5rem 0;
  margin-right: 1rem;
  transition: all 0.2s;
  box-shadow: 0px 1px 10px -3px rgba(182, 181, 181, 0.1);
  background-color: #fff;
  cursor: pointer;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0px 1px 31px -3px rgba(124, 124, 124, 0.2);
  }
}

.pictures_container {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  border: none;
  margin-bottom: 0.5rem;
}
.article_image {
  width: 100%;
  padding-bottom: 1rem;
}
.article_info {
  padding: 1rem;
  position: relative;
  padding-top: 0;
}
.article_title_small {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  padding: 0.6rem 0;
}
.article_desc_small {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;
  word-spacing: 0.05rem;
  color: #949494;
}

.avatar_small {
  width: 2.6rem;
  height: 2.6rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 50%;
  border: 1px solid #46989a;
  background-image: url("../images/man.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.avatar {
  width: 100%;
}
.user_info_small {
  display: flex;
  align-items: center;
}
.author_name_small {
  font-weight: 400;
  color: #46989a;
  line-height: 1.1rem;
}
.date_small {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 1.1rem;
  color: rgba(0, 0, 0, 0.5);
}

// single_article container

.single_article_container {
  width: 90%;
  border-radius: 0.8rem;
  position: relative;
  overflow-y: scroll;
  margin: auto;
  height: 100vh;
}
.single_article_container::-webkit-scrollbar {
  display: none;
}
.single_article_wrapper {
  max-width: 640px;
  margin: 0 auto;
}
.single_article_image_container {
  overflow: hidden;
  margin: 2rem auto;
  width: 80%;
}

.tag_articles {
  font-size: 0.8rem;
  font-weight: 400;
  margin-right: 0.4rem;
  color: rgba(0, 0, 0, 0.5);
}
.single_article_image {
  width: 100%;
}
.sigle_article_title {
  font-size: 2.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 3rem;
  color: #46989a;
}
.sigle_article_description {
  line-height: 2.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}
.single_article_user_info_container {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.user_info_avatar_container {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-image: url("../images/man.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border: 1px solid rgba(3, 168, 124, 1);
  .avatar {
    width: 100%;
  }
}
.single_article_info_container {
  padding-left: 0.5rem;
}
.single_article_username {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  display: inline-block;
  line-height: 1.2rem;
}
.single_article_authorname {
  color: rgba(0, 0, 0, 0.8);
}
.single_article_date {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
.single_article_body {
  word-spacing: 0.1rem;
  line-height: 2.05rem;
  color: rgba(0, 0, 0, 0.8);
}
.single_article_body {
  img {
    width: 100%;
  }
  a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    text-decoration: underline;
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    color: rgba(0, 0, 0, 0.8);
  }
  h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }
  h3 {
    display: block;
    font-size: 1.17rem;
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  h6 {
    font-size: 0.7rem;
  }

  ul,
  li {
    list-style-type: disc;
    margin-left: 1rem;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.7);
  }
  strong {
    line-height: 33px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
    line-height: 33px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.84);
    strong {
      font-size: 1.1rem;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 700;
    }
  }
  em {
    line-height: 33px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    font-size: 1.25rem;
  }

  blockquote {
    font-size: 1.4em;
    margin: 50px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #46989a;
    line-height: 1.6;
    position: relative;
    background: #ededed;
  }
}
.single_article_username_container {
  display: flex;
  justify-content: space-between;
  width: 554px;
}
.favorite_icon_container {
  position: relative;
}
.favorite_article {
  color: #46989a;
  position: absolute;
  right: 0;
  font-size: 1.6rem;
  height: 2.1rem;
  width: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s;
  &:hover {
    background-color: #46989a;
    color: #fff;
    transform: scale(1.1);
  }
}
//see comments container

.hr_line_single_article {
  margin: 2rem auto;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
}
.see_comments_conatiner {
  text-align: center;
  padding: 1.2rem;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
  border: 1px solid rgba(#46989a, 0.5);
  &:hover {
    border: 1px solid rgba(#46989a, 1);
    .see_comments,
    .comments_count {
      color: #46989a;
    }
  }
}
.see_comments,
.comments_count {
  color: rgba(#46989a, 0.8);
  font-size: 0.9rem;
  margin-left: 0.2rem;
  font-weight: 600;
}
//follow
.follow,
.followingUser {
  font-size: 0.85rem;
  border: 1px solid rgba(#46989a, 0.8);
  color: rgba(#46989a, 0.8);
  font-weight: 600;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
  padding: 0.05rem 0.4rem;
  cursor: pointer;
  &:hover {
    border: 1px solid rgba(#46989a, 1);
    color: rgba(#46989a, 1);
  }
}
.followingUser {
  background-color: rgba(#46989a, 0.8);
  color: #fff;
  &:hover {
    background-color: #46989a;
    color: #fff;
  }
}
.unfollow {
  display: none;
}
.options_single_article {
  text-align: center;
  border-radius: 50%;
  letter-spacing: 0.3rem;
  color: #46989a;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    letter-spacing: 0.5rem;
    .article_edit_delete_ul {
      .edit_article {
        top: 0.2rem;
        z-index: 0;
        background-color: #46989a;
        color: #fff;
        animation: tilt 0.8s;
      }
      .delete_article {
        top: -3rem;
        z-index: 0;
        background-color: #46989a;
        color: #fff;
        animation: tilt 0.8s;
      }
    }
  }
}
.article_edit_delete_ul {
  position: relative;
}
.edit_article {
  position: absolute;
  font-size: 1.2rem;
  top: -1.4rem;
  z-index: -1;
  height: 1.9rem;
  width: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s;
}
.delete_article {
  position: absolute;
  font-size: 1.2rem;
  top: -1.4rem;
  z-index: -1;
  height: 1.9rem;
  width: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s;
}

@keyframes tilt {
  5% {
    transform: rotate(-40deg);
  }
  50% {
    transform: rotate(40deg);
  }
}
