.new_post_container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  border-radius: 0.8rem;
  overflow: auto;
}
.new_post_container ::-webkit-scrollbar {
  display: none;
}
.form_bottom_gradient {
  background-color: #46989a;
}
.tags_img_conrainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.new_post_form_sub_container {
  width: 45rem;
  border-radius: 0.8rem;
  overflow: hidden;
  padding: 2rem;
  box-shadow: 0px 0px 11px -1px rgba(90, 90, 90, 0.3);
  background-color: #fff;
}

.input_new_post {
  padding: 1rem;
  margin: 0.5rem 0;
  border: none;
  border-left: 5px solid rgba(#46989a, 0.5);
  border-radius: 0.4rem;
  outline: none;
  font-size: 1rem;
  transition: border 0.3s;
  resize: vertical;
  width: 100%;
  &:focus {
    border-left: 1px solid transparent;
  }
}
.input_new_post::placeholder {
  color: rgba(#46989a, 0.6);
  font-family: "Raleway", sans-serif;
}
.article_title {
  font-size: 2rem;
}
.publish_btn {
  font-size: 0.9rem;
  padding-top: 0.5rem;
  opacity: 0;
  transition: all 0.5s;
  color: rgba(#46989a, 1);
}
.publish_icon {
  display: inline-block;
}
.new_post_btn {
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #46989a;
  border-radius: 50%;
  transition: all 0.5s;
  outline: none;
  border: none;
  box-shadow: -1px 6px 9px 0px rgba(70, 152, 154, 0.2);
  &:hover {
    transform: scale(1.1);
    background-color: #46989a;
    color: #fff;
  }
  &:hover ~ .publish_btn {
    opacity: 1;
  }
}
