.profile_container {
  width: 90%;
  position: relative;
  text-align: center;
  border-radius: 0.8rem;
  overflow: hidden;
  margin: auto;
  height: 100vh;
}
.profile_bg_top {
  height: 13rem;
  background-color: #46989a;
}
.sub_profile_container {
  position: absolute;
  top: 5rem;
  width: 15rem;
  text-align: center;
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 0.8rem;
  margin: 0 auto;
  z-index: 5;
  box-shadow: 0px 0px 11px -1px rgba(90, 90, 90, 0.3);
}
.edit_profile {
  position: relative;
}
.edit_icon {
  top: -1rem;
  right: 0;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #46989a;
  border-radius: 50%;
  background-color: #fdf6f7;
  transition: all 0.4s;
  position: absolute;
  &:hover {
    background-color: #46989a;
    transform: scale(1.1);
    color: #fff;
  }
}
.profile_pic_container {
  border: 2px solid #46989a;
}
.relative_profile {
  position: relative;
  width: 15rem;
  margin: 0 auto;
}
.username {
  font-size: 1.2rem;
  color: #46989a;
  padding: 0.5rem 0;
}
.user_description {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem 0;
}
.following_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.following,
.followers {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  cursor: pointer;
}
.following_active,
.followers_active {
  color: #46989a;
}
.following_count,
.followers_count {
  padding: 0 0.2rem;
  padding-left: 0.4rem;
  font-size: 0.85rem;
  font-weight: 600;
}

//feeds

.profile_feeds_container {
  display: flex;
  padding-top: 10rem;
}
.my_article {
  margin-right: 2rem;
}
.my_article,
.favorited_article {
  font-size: 0.9rem;
  color: #46989a;
  padding-bottom: 0.7rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid rgba(#46989a, 0.5);
}
.favorited_article {
  border-bottom: 2px solid transparent;
}
.feeds_sub_container {
  display: flex;
  width: 100%;
}

//user articles

.user_articles_container {
  text-align: left;
  width: 670px;
  height: 50vh;
  overflow-y: scroll;
}

.user_articles_container::-webkit-scrollbar {
  display: none;
}
.user_article_container {
  display: flex;
  margin-bottom: 2rem;
}
.user_article_section_left {
  text-align: left;
  width: 65%;
  margin-right: 1.4rem;
}

.user_articles_user_info_container {
  padding-top: 0.5rem;
}
.author_name_user {
  font-size: 0.9rem;
}
.user_article_section_right {
  width: 30%;
  height: 8rem;
  overflow: hidden;
}
.user_article_section_right_img {
  width: 100%;
}
.no_articles_yet {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

//popular on conduit

.popular_container {
  padding: 0 2rem;
  margin-left: 2rem;
  text-align: left;
}
.popular_text {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.popular_overflow {
  height: 40vh;
  overflow-y: scroll;
}
.popular_overflow::-webkit-scrollbar {
  display: none;
}

.popular_feeds_container {
  display: flex;
  padding: 1rem 0;
}
.popular_counts {
  font-size: 2.1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.2);
  margin-right: 0.8rem;
}
.popular_title {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
}
.popular_author_name {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.2rem;
  font-weight: 400;
}
.popular_date {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

//following user

.following_user_container {
  background-color: rgba(254, 254, 254, 0.8);
  position: absolute;
  width: 100%;
  height: 100vh;
}
.following_user_container_enable {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
.following_user_container_enable ~ .profile_feeds_container {
  transition: all 0.5s;
  filter: blur(10px);
}
.following_user_container_enable ~ .user_article_container {
  transition: all 0.5s;
  filter: blur(10px);
}
.following_user_subcontainer {
  width: 50%;
  height: 63vh;
  margin: auto;
  overflow-y: auto;
  margin-top: 10rem;
  padding-bottom: 4.5rem;
}
.following_user_subcontainer::-webkit-scrollbar {
  display: none;
}
.following_single_container {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}
.follow_single_user_container {
  text-align: left;
  width: 27rem;
  padding-left: 1rem;
}
.follow_single_user_name {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  line-height: 1.5rem;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
  
}
.follow_single_user_bio {
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.follow_single_follow {
  line-height: 1.3rem;
  color: rgba(#46989a,.8);
  cursor: pointer;
  font-weight: 400;
  &:hover {
    color: #46989a;
  }
}
.following_user_container_disable {
  visibility: hidden;
}
.back_arrow_following_user {
  font-size: 2rem;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  color: #46989a;
  border: 1px solid #46989a;
  background-color: #fff;
  z-index: 2;

  transition: background-color 0.3s, transform 0.3s;
  &:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #46989a;
  }
}
