.home {
  // width: 1300px;
  // height: 900px;
  width: 90.3vw;
  margin: 3rem auto;
  position: relative;
  display: flex;
  border-radius: 0.8rem;
  overflow: hidden;
  align-items: center;
  box-shadow: 0px 0px 11px -1px rgba(90, 90, 90, 0.3);
  background-color: rgb(254, 254, 254);
}
.home_link {
  text-decoration: none;
}

// sidebar
.sidebar {
  width: 5.5rem;
  border: none;
}

.sidebar_logo_container {
  height: 7.5rem;
}
.conduit_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.conduit_logo {
  width: 150%;
}
.sidebar_icons_container {
  border-top-right-radius: 4rem;
  background-color: #46989a;
  height: 100vh;
  padding: 5rem 0;
  padding-left: 0.5rem;
}

.sidebar_icon_container {
  padding: 0.8rem;
  padding-left: 1.2rem;
  border-top-left-radius: 0.8rem;
  margin-bottom: 0.5rem;
  border-bottom-left-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    .sidebar_icon {
      transform: rotatez(-15deg);
    }
    .sidebar_icon_text {
      color: #fff;
    }
    .settings_icon {
      transform: rotate(100deg);
    }
  }
}
.sidebar_icon_container_active {
  background-color: rgb(254, 254, 254);
  .sidebar_icon {
    color: #46989a;
  }
  &:hover {
    .sidebar_icon_text {
      color: #46989a;
    }
  }
}

.sidebar_icon {
  font-size: 1.7rem;
  color: #fff;
  transition: all 0.3s;
  padding-bottom: 0.2rem;
}
.settings_icon {
  transition: transform 0.5s;
}
.sign_in_icon {
  font-size: 1.9rem;
}
.sidebar_icon_text {
  font-size: 0.6rem;
  transition: all 0.3s;
  color: #46989a;
}
// Main home
.home_main_container {
  width: 100%;
  display: flex;
}

// Middle
.sigin_to_conduit {
  color: #46989a;
}
.middle {
  width: 75%;
}
.middle_sub_container {
  padding: 1rem;
  margin: 4rem auto;
  width: 95%;
  height: 100vh;
  border-radius: 0.8rem;
  // box-shadow: 0px 0px 11px -1px rgba(214, 214, 214, 0.1);
}
.feeds_container {
  display: flex;
  height: 2.5rem;
}
.global_feed_disable {
  font-size: 0.9rem;
  color: #46989a;
  padding-bottom: 0.7rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.global_feed {
  font-size: 0.9rem;
  color: #46989a;
  padding-bottom: 0.7rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  font-weight: 600;
  align-items: center;
  border-bottom: 2px solid rgba(#46989a, 0.5);
  cursor: pointer;
}
.hash_tag {
  font-size: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #46989a;
  color: #fff;
  transition: all .5s;
  margin-right: 0.2rem;
}
.hash_tag_small {
  height: 1rem;
  width: 1rem;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.2rem;
  border-radius: 50%;
  color: #46989a;
  background-color: #fff;
}
.tag_disable {
  display: none;
}
// aside

.aside_container {
  width: 25%;
  background-color: #fdf6f7;
}
.aside_sub_container {
  margin: 6.8rem 1rem;
}
.tags_main_container {
  background-color: rgba(#fff, 0.8);
  padding: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
}
.popular_tags {
  font-size: 0.95rem;
  font-weight: 400;
  color: #46989a;
  cursor: pointer;
}
.tags_container {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}
.tag {
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.3rem 0.4rem;
  margin: 0.1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  transition: all 0.3s;
  background-color: rgba(#46989a, 0.9);
  &:hover {
    background-color: transparent;
    border: 1px solid rgba(#46989a, 0.8);
    color: #46989a;
    .hash_tag_small {
      background-color: #46989a;
      color: #fff;
    }
    // text-decoration: underline;
  }
}
.aside_profile_container {
  text-align: center;
  padding-bottom: 2rem;
}
.aside_profile_pic {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-image: url("../images/man.png");
  background-position: center;
  background-size: cover;
  margin: 0.5rem auto;
  object-fit: fill;
  overflow: hidden;
  margin-top: 0;
}
.aside_profile {
  width: 100%;
}
.aside_user_name {
  padding: 0.5rem;
  font-weight: 500;
  color: #202020;
  font-size: 1.3rem;
}
.aside_user_description {
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
